/data/images_allmusic
/data/images_discogs
/data/images_discogs_validation
/data/archive
/data/data_exploration.ipynb
/logs
/genre-recognition
/results_*
/results/cloud
/results/llm
/results/*.keras
/uploads
.DS_Store
__pycache__/
.vscode/